.header {
    background-color: #4b73b3;
    height: 75px;
    width: 100vw;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 1100px;
}
.contact {
    display: flex;
    text-align: right;
    flex-flow: column;
    width: 50%;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 2px;
}
.plane__pic {
    margin-top: 9px;
    margin-right: -10px;
}
body {
    font-family: 'Roboto', arial, sans-serif;
}
.logo {
    width: 50%;
}
.phone {
   color: white;
   text-decoration: none;
    font-size: 21px;
    font-weight: 700;
}
.time {
    color: white;
    height: 14px;
    opacity: 0.7;
    font-size: 14px; 
    text-decoration: underline;   
    display: inline-block; 
    position: relative;
}
 .time:hover::after { 
    content: attr(data-title); 
    position: absolute;
    right: 0px;
    top: 30px; 
    z-index: 100;
    background: white ;
    font-size: 14px;
    padding: 5px 100px; 
    border: 10px solid white;
    font-family: roboro, arial, sans-serif;
    font-weight: 700;
    color: black;
    width: 164px;
 }
.menu {
    width: 200px;
}
.logo__header {
    margin-left: 28px;
    margin-bottom: 10px;
}
.menu__items-name {
    position: relative;
    color:#4b73b3;   
    text-transform: uppercase;
    transition: 1s;
}
.menu__items-name--main{
    color: black;
}
.menu__items-icon--main {
    background-image: url(pics/anchor.png);
}
.menu__items-icon{
   background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 22px;
    margin-left: -32px;
    margin-bottom: -16px; 
    margin-top: -23px;
   transition: 1s;
}
.menu__items:hover .menu__items-icon--crew{
    background-image: url(pics/creew.png);
}
.menu__items:hover .menu__items-icon--main{
    background-image: url(pics/anchor.png);
}
.menu__items:hover .menu__items-icon--comment{
    background-image: url(pics/stars.png);
}
.menu__items:hover .menu__items-name{
    color: black;
}
.menu__items-icon--crew{
    background-image: url(pics/crew_pic.png);
}

.menu__items-icon--comment{
    background-image: url(pics/star.png);
}
.menu__items {
    margin-bottom: 20px;
    list-style-type: none;
    letter-spacing: 2.4px;
    width: 67px;
    font-size: 12px;
    font-weight: 700;
    height: 9px;
    margin-bottom: 40px;
    font-family: 'Roboto', Arial, sans-serif;
}
.menu__items__link{
    text-decoration: none;
    margin-left: 40px;
}
.menu__list{
    margin-top: 48px;
    display: inline-block;
    width: 120px;
    padding: 0px;
    margin-left: 74px;
 }
content {
   margin-left:10px;
}
.standart{
    margin-left: 50px;
    font-size: 11px;    
    line-height: 51.38px;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.premium{
    margin-left: 50px;
    font-size: 11px;    
    line-height: 51.38px;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.laxherie{
    margin-left: 50px;
    font-size: 11px;    
    text-transform: uppercase;
    line-height: 51.38px;
    letter-spacing: 2.88px;
}
.tariff__standart{
    flex-flow: column;
    display: flex;
    width: 250px;
    margin-top: 32px;
    margin-right: 20px;
}
.tariff{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-left: 27px;
}
.tariff__premium{
    flex-flow: column;
    margin-right: 20px;
    display: flex;
    width: 250px;
    margin-top: 32px;
}
.tariff__title {
    margin: 10px;
    width: 180px;
    height: 70px;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
}
.tariff__laxherie{
    flex-flow: column;
    display: flex;
    width: 250px; 
    margin-right: 20px;
    margin-top: 32px;
}
.info::before{
    content: "";
    color: black;
    position: absolute;
    weight: 10px;
    height: 10px;
}
.info{
    list-style-type: none;
    width: 185px;
    line-height: 30px;
    margin-left: 11px;
} 
.news{
    display: flex;
}
.reviews{
    padding: 0;
    margin-right: 0px;
}
.last__news {
    height: 70px;
    font-size: 45px;
    margin-left: 20px;
    margin-top: 49px;
    font-size: 48px;
}
.switcher__list {
    margin-top: 11px;
    margin-right: -24px;
}
.review {
    border-bottom: 1px solid #f5f5f5;
    padding: 0px;
    list-style-type: none;
    display: flex-start;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: -6px;
    margin-left: 10px;
}
.tariff__name {
    text-align: center;
    margin: 5px;
    font-size: 11px;    
    line-height: 51.38px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}
.review__info{
    margin-right: 40px;
    padding: 0;
    width: 644px;
}
.review__text{
    font-family: Roboto, arial, sans-serif;
    font-weight: 300;
    line-height: 28px;
    width: 700px;
    font-size: 18px;
    margin-bottom: -16px;
}
.review:last-child{
    border-bottom: none;
}
.review__date{
    color: grey;
    font-size: 14px;
    margin-bottom: -17px;
}
.first__review{
    border-radius: 50%;
    margin-right: 20px;
}
.tariff__info{
    padding-left: 34px;
    margin: 0px;
    display: flex;
    font-size: 18px;        
    line-height: 30px;
    font-family: Roboto, arial, sans-serif;
    font-weight: 300;
    text-align: center;
}
.price{
    justify-content: center;
    display: flex;
    font-weight:400;
    font-size: 54px;
    margin-right: 39px;
    margin-top:10px;
    letter-spacing: -1.07px;
}
.dollar {
    font-size: 30px;
    font-weight: bold;
    line-height: 57px;
    margin-top: 10px;
}
.switch {
    display: flex;
    justify-content: center;
    height: 72px;
    margin-bottom: 35px;
}
.switchlist{
    display: inline-flex;
    vertical-align: middle;
    padding: 5px 10px;
    margin: 0px;
}
.switchlist__list{
    list-style-type: none;
    margin: 5px;
}
.switchlist__link--active:visited{
    color: white;
}
.switchlist__link--active{
    border-radius: 10%;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    color: black;
    background: #4b73b3;
}
.switchlist__link{
    text-decoration: none;
    color: black;
    height: 70px;
    display: inline;
    margin-left: 10px;
}
.pages {
    color: #656464;
    display: inline;
    font-size: 14px;
    margin-right: 17px;
    margin-top: 22px;
}
.switchlist__link--active{
color:white;
}
.arrow {
    margin-right: -8px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}
.nextarrow{
    margin-left: 5px;
    text-decoration:none;
    color:black;
}
.footer__info{
    display: flex;
}
.footer{
    background-color: #4b73b3;
    height: 75px;
    width: 100vw;
   
}
.footer__text{
    margin: 5px;
    color: white;
    width: 300px;
}
.footer__link{
    color: white;
}
.logo__img{
    margin-left: 184px;
    height: 70px;
}
.listlist{
    position: relative;
    font-family: Roboto, arial, sans-serif;
    font-weight: 300;
}
.listlist::before {
    content: "";
    display: block;
    height: 3px;
    width:  3px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 13px;
}

.first__list {
    position: relative;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 300;
}
.first__list::before {
    content: "";
    display: block;
    height: 3px;
    width:  3px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 13px;
}
.second__list::before {
    content: "";
    display: block;
    height: 3px;
    width:  3px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top:13px;
}
.second__list{
    position:relative;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 300;
}
.tariff__name {
    font-size: 11px;
    line-height: 51.38px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}
.tariff__pic {
    margin-left: 87px;
    background-position: center;
    background-color: #4b73b3;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    text-align: center;
}
.tariff__pic--painter{
    background-image: url(pics/painter.png);
    
}
.tariff__pic--star{
    background-image: url(pics/star_pic.png);
  
}
.tariff__pic--flower {
    background-image: url(pics/flower.png);
}

.social {
    background: #d2def3;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.social--vk {
    background-image: url(pics/vk.png);
}
.social--twitter{
    background-image: url(pics/twitter.png);
}
.social--fb{
    background-image: url(pics/fb.png);
}
.social--google{
    background-image: url(pics/google.png);
}
.social--email{
    background-image: url(pics/email.png);
}
.socialicons {
    margin-left: 260px;
}
.social__link{
    display: inline-block;
    margin-right: 5px;
}
.social__link:hover {
    background-color: white;
    border-radius: 50%;
}
a {
    background-color: transparent;
}
.social:hover{
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.socialnetwork {
    color: white;
    height: 20px;
    font-size: 14px;
    margin-top: 16px;
    font-weight: 700;
    margin-bottom: 1px;
}
