.header {
    background-color: #4b73b3;
    height: 75px;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 1100px;
}
ul li {
    list-style: none;
}
.contact {
    display: flex;
    text-align: right;
    flex-flow: column;
    width: 50%;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 2px;
}
body {
    font-family: 'Roboto', arial, sans-serif;
}
.logo {
    width: 50%;
}
.phone {
   color: white;
   text-decoration: none;
    font-size: 21px;
    font-weight: 700;
}
.time {
    color: white;
    height: 14px;
    font-size: 14px; 
    margin-right: 17px;
    text-decoration: underline;   
    display: inline-block; 
    position: relative;
}
.time__item--day{
    color: #4b73b3;
    font-weight: 700;
    margin-bottom: 5px;
}
.time__item--lunch {
    color: black;
}
.time__list{
    text-align: center;
    padding: 0;
}
.time:hover .time__drop{
    right: 0;
}
.time__drop::after{
    display: block;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
    bottom: 100%;

}
.time__drop{
    position: absolute;
    top: 150%;
    right: -9999px;
    box-shadow: 5px 0 10px 0 rgba(0, 0, 0, .5) ;
    display: inline-block;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
.time__drop::before{
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    bottom: 100%;
    right: 5px;
}
.menu {
    width: 200px;
}
.menu__items-name {
    position: relative;
    color:#4b73b3;   
    text-transform: uppercase;
    transition: 1s;
}
.menu__items-icon{
   background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 22px;
    margin-left: -32px;
    margin-bottom: -16px; 
    margin-top: -23px;
    transition: 1s;
}
.menu__items:hover .menu__items-icon--crew{
    background-image: url(pics/creew.png);
}
.menu__items:hover .menu__items-icon--main{
    background-image: url(pics/anchor.png);
}
.menu__items:hover .menu__items-icon--comment{
    background-image: url(pics/stars.png);
}
.menu__items:hover .menu__items-name{
    color: black;
}
.menu__items-icon--crew{
    background-image: url(pics/crew_pic.png);
}
.menu__items-icon--main{
    background-image: url(pics/zaq.jpg);
}
.menu__items-icon--comment{
    background-image: url(pics/star.png);
}
.menu__items {
    margin-left: 130px;
    list-style-type: none;
    letter-spacing: 2.4px;
    width: 67px;
    font-size: 12px;
    font-weight: 700;
    height: 9px;
    font-family: 'Roboto', Arial, sans-serif;
}
.menu__items__link{
    text-decoration: none;
}
.menu__list{
    margin-top: 48px;
    display: flex;
    width: 120px;
    padding: 0px;
    margin-left: -60px;
 }
.menu__items-name--crew{
    color: black;
}
.menu__items-icon--crew  {
    background-image: url(pics/creew.png);
}
.comment{
    color: #4b73b3;
    text-transform: uppercase;
}
.crew{
    color: black;  
    text-transform: uppercase;
}
.comments__text {
margin-top: 74px;
font-size: 49px;
margin-left: 62px;
}
.team__text{
    font-weight: 300;
    text-align: center;
    line-height: 21px;
    font-size: 14px;
    margin-top: 6px;
}
.team__list {
    flex-flow: row wrap;
    display: flex;
    align-content: flex-end;
}
.team__names {
    font-weight: 700;
    font-size: 22px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.team__photo{
    width: 160px;
    height: 160px;
    margin-left: 23px;
    border-radius: 50%;
position: relative;
}
.team__item:hover .team__photo::before {
    
    opacity: 0;
}
.team__item:hover .team__names {
    opacity: 0;
}
.team__photo::before{
    content: '';
    display: block;
    background-color: #4b73b3;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 1s;
}
 .team__name {
     text-align: center;
     font-size: 17px;
     margin-bottom: 7px;
 }
.team__profession {
    color: #4b73b3;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}
.team__item{
    width: 29%;
    margin-right: 33px;
}

.partners__item{
    filter: grayscale(100%);
    width: 33.3%;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 40px;
    transition: 1s;
}
.partners__pic{
    display: block;
    height: 50px;
}
.partners{
    margin-top: 30px;
    border: 1px solid #f5f5f5;
    padding-top: 10px;
    padding-left: 30px;
    height: 600px;
    padding-right: 30px;
    width: 230px;
}
.partners__item:hover{
    filter: grayscale(0);
}
.partners__title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}
.partners__pic--logoone {
    height: 30px;
}
.socialnetwork {
    height: 20px;
    font-size: 14px;
    margin-top: 16px;
    font-weight: 700;
    margin-bottom: 1px;
}
.footer__info{
    display: flex;
}
footer{
    background-color: #4b73b3;
    height: 75px;
    width: 100vw;
}
.footer__text{
    margin: 5px;
    color: white;
    width: 300px;
}
.footer__link{
    color: white;
}
.logo__img{
    margin-left: 584px;
    height: 70px;
}
.social {
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 1s;
}
.social--vk {
    background-image: url(pics/vk.png);
}
.social--twitter{
    background-image: url(pics/twitter.png);
}
.social--fb{
    background-image: url(pics/fb.png);
}
.social--google{
    background-image: url(pics/google.png);
}
.social--email{
    background-image: url(pics/email.png);
}
.socialicons {
    margin-left: 260px;
}
.social__link{
    display: inline-block;
    margin-right: 5px;
}
.social__link:hover {
    background-color: white;
    border-radius: 50%;
}
a {
    background-color: transparent;
}
.social:hover{
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.team__img--inna{
    margin-top: 5px;
    margin-left: -4px;
}
.team__img--elena {
    margin-top: -4px;
}
.partners__pic--logosix{
    margin-left: 50px;
}

